:root {
  --color-black: #212121;
  --color-white: #ffffff;
  --color-white-dark: #f5f4fa;
  --color-grey-light: #afb1b8;
  --color-grey: #757575;
  --hover-color: #2196f3;
  --background-color: #e5e5e5;
}

body {
  font-size: 2rem;
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--background-color);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
/* img są elementami liniowymi  ale  lepiej zmianć od razu na blokowe */
img {
  display: block;
}

.container-nav {
  width: 1600px;
  height: 600px;
}

.container-big {
  width: 1600px;
  height: 600px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.container-klients {
  width: 1200px;

  box-sizing: border-box;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0px 15px;
}
.client-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: var(--color-grey-light);
}

.client-box-size {
  border: 1px solid var(--color-grey-light);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: var(--color-grey-light);
}

.client-box-size:hover {
  border-color: var(--hover-color);
}

.section {
  padding: 94px 0px 94px 0px;
}

.container-work {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 44px;
}

.container-work-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.container-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white-dark);
  margin: 0 auto;
  height: auto;
}

.margin-agencja {
  padding: 32px;
}

.margin-bottom {
  border-bottom: 2px solid #ececec;
  padding: 32px;
}

.margin-button {
  padding-bottom: 50px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.button-kategory {
  max-width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-text-black {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}

.logo-text-white {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color-white);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}

.logo-text-blue {
  color: var(--hover-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.list-menu {
  display: flex;
  color: var(--color-black);
  align-items: center;
  padding: 0 24px;
  font-weight: 700;
}

.navigation {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.navigation:hover,
.navigation:focus,
.navigation:active {
  color: var(--hover-color);
}

.active {
  text-decoration: none;
  font-size: 14px;
  color: var(--hover-color);
}

.envelope:hover,
.phone:hover {
  fill: var(--hover-color);
}

.kontakt {
  text-decoration: none;
  color: var(--color-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-left: 10px;
}

.kontakt:hover,
.kontakt:focus {
  color: var(--hover-color);
}

.banner-background {
  margin: auto;
  background-color: #2f303a;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  color: var(--color-white);
  background-size: cover;
  background-image: url(../images/banner-agencja.jpg);
  object-fit: cover;
  box-shadow: inset 50px 50px 50px 50px rgba(47, 48, 58, 0.4),
    inset 1600px 600px 50px 50px rgba(47, 48, 58, 0.4);
}

.banner-background-team {
  background-color: var(--color-white-dark);

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--color-white);
}

.title-banner {
  font-size: 46px;
  line-height: 1.6;
  padding-top: 200px;
}

.button {
  display: inline-block;
  height: 38px;
  margin: 8px;
  padding: 6px 22px 6px 22px;
  background-color: var(--color-white-dark);
  color: var(--color-black);
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  transform: scale(1.1);
  transition: 2s;
    color: var(--color-white-dark);
  background-color: var(--hover-color);
}

.button-list {
  display: flex;
  justify-content: center;
  list-style: none;
}



.button-bnner {
  color: var(--color-white-dark);
  background-color: var(--hover-color);

  line-height: 1;
  letter-spacing: 2px;
  white-space: normal;
  margin-top: 30px;
  width: 220px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.portfolio {
  list-style: none;
  display: inline-flex;
  padding-bottom: 94px;
}

.portfolio-tabela {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc((100%- 60px) / 3);
  border-top: 1px solid transparent;
}

.portfolio-item {
  display: inline-block;
  flex-direction: column;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.img-portfolio {
  display: block;
}

.portfolio-space {
  display: block;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 428px;
  text-align: center;
  border: 1px solid rgba(117, 117, 117, 0.5);
  box-shadow: 0 5px 10px -2px rgba(117, 96, 96, 0);
  border-radius: 5px;
  margin: 15px;
}

.drop-shadow {
  width: 150px;
  height: 200px;
  display: block;
  background: white;
}

.project-info {
  display: block;
  color: var(--color-black);
  font-family: 'Roboto';
  font-size: 18px;
  padding-top: 30px;
  padding-left: 30px;
}
.kategory {
  display: block;
  font-size: 16px;
  padding: 10px 0px 30px 30px;
  font-family: 'Roboto';
  color: var(--color-grey);
}

.box-info-title {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-black);
}

.box-info {
  margin-top: 6px;
  font-size: 14px;
  color: var(--color-grey);
}

.title-one {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 50px;
  height: auto;
  color: var(--color-black);
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  text-decoration: none;
  padding: 60px 10px 30px 90px;
}

.footer-display {
  display: flex;
  justify-content: left;
  margin: 0 auto;
  gap: 0;
}

.footer-display-socjal {
  margin-left: 50px;
}
h3 {
  margin-top: -20px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.address {
  font-size: 14px;
  margin-top: 20px;
}

.icon {
  text-decoration: none;
  border-style: none;
  background-color: #ffffff;
  cursor: pointer;
}

.icon svg:hover,
.icon svg:focus {
  fill: #2196f3;

  transition: all 0.2s;
}

.category-box {
  display: flex;
  max-width: 1200px;
  height: 251px;
  margin: auto;
}

.category-prezentation {
  display: flex;
  width: 270px;
  height: 247px;
}

.category-jobs {
  margin: 20px;
}

.category-svg-icon {
  display: block;
}

.kafelek {
  margin: 15px;
  width: 270px;
}

.svg-item {
  background-color: var(--color-white-dark);
  width: 70px;
  height: 70px;

  margin: 25px 100px;
}
.beleczka {
  display: flex;

  justify-content: space-between;
  justify-items: center;
  flex-wrap: wrap;
}

.beleczka-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.beleczka-lorem {
  width: 270px;
}

.beleczka-kafelek {
  align-content: center;
  justify-content: center;
  border: 2px var(--color-grey-light);
  border-radius: 4px;
  color: var(--color-grey-light);
  background-color: var(--color-white-dark);
}

.box-border {
  border: 2px solid var(--color-white-dark);
  border-radius: 4px;
}

.svg-item-socjal-box {
  background-color: var(--color-white-dark);
}

.list {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 30px;
}
.icon-sm-box {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 56px;
  margin: 0 auto;
}
.icon-box-socjal {
  width: 44px;
  height: 44px;
  padding: 20px;
}

.icon-client {
  display: flex;
  width: 106px;
  height: 60px;

  justify-content: center;
  color: var(--color-grey-light);
}

.icon-client:hover {
  fill: var(--hover-color);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-sm-footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: var(--color-white-dark);
}

.icon-sm-footer:hover {
  background-color: var(--hover-color);
}

.icon-box-footer {
  margin-right: 10px;
}

.icon-box-footer:last-child {
  margin-right: 0;
}

.footer-socjal-link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: var(--color-white-dark);
  background: rgba(255, 255, 255, 0.1);
}
.footer-socjal-link:hover,
.footer-socjal-link:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-joinus-icons {
  display: flex;
  margin-top: 20px;
}
.joinus-icons {
  fill: var(--color-white-dark);
}

.footer-joinus-margin {
  margin-right: 10px;
}

.footer-joinus-margin:last-child {
  margin-right: 0;
}

.footer-joinus-link svg {
  fill: var(--fourth-color);
}

.footer-joinus-link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
.footer-joinus-link:hover,
.footer-joinus-link:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--color-grey-light);
  background-color: var(--color-white-dark);
}
.social-list-link:hover {
  background-color: var(--hover-color);
  fill: var(--color-white-dark);
}
/* zadanie 5  modal.js - button */

.modal {
  width: 100px;
  height: 100px;
  position: absolut;
  z-index: 1;
  transition-property: visibility, opacity, transform;
  transition-duration: 2s;
  background-color: #2196f3;
  transform: translateX(-50%) translateY(-50%) scale(1) rotate(720deg) skew(0deg, 0deg);
  opacity: 1;
  visibility: visible;
  display: block;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg) skew(40deg, 40deg);
}
/* 
box shadow ustawić  paramaetry ponizej
Drop shadow X0  Y2  B1 S0 #000000 20% */

/* Dla wszystkich efektów najechania kursorem i focusu (kolor, tło, cień) wykonywany jest transition. Czas - 250ms, funkcja rozkładu czasu - cubic-bezier(0.4, 0, 0.2, 1). */
.box-cubic {
  /* width: 200px;
  height: 200px;
  background-color: red; */
  transition-duration: 2s;
  transition-property: background-color, width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-xubic:hover {
  background-color: aqua;
}